<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet">
	<link href="../static/css/me.css" rel="stylesheet" th:href="@{/css/me.css}">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
	<title>归档——呼呼噜噜噜</title>

</head>
<body>
<div class="ui grid stackable divided">
	<!--导航-->
	<div th:replace="_fragments :: menu()" >
	</div>
	<!--内容-->
	<div class="twelve wide column">
		<div class="ui container article-responsive ">
			<th:block th:each="item : ${archiveMap}">
				<div class="archive_month" >
					<h2 class="ui center aligned header username" th:text="${item.key}">1月</h2>
					<div class="ui fluid attached vertical item menu " th:each="blog : ${item.value}">
						<a href="#" target="_blank" class="item archive_item"  th:href="@{/blog/{id}(id=${blog.id})}">
							<span th:text="${blog.title}">《公路的温柔》摘</span>
						</a>
					</div>
				</div>
			</th:block>
		</div>
	</div>
	<!--空边-->
	<div class="column">
	</div>
</div>



<th:block th:replace="_fragments :: script">
</th:block>

</body>
</html>

